/* =========================================================================
 *
 * root-party
 * 
 * ========================================================================= */
/*
    TODO: Combine this and the main-menu.scss. Pull out shared styles
*/

$MENU_WIDTH: 760px;

.root-party__wrapper {
    @include user-select(none);
    @include position(absolute, 10px 0 10px 50%);
    color: $COLOR_1;
    margin-left: -$MENU_WIDTH/2;
    width: $MENU_WIDTH;
}
.root-party__inner {
    @include position(absolute, 0);
    border: 2px solid $COLOR_1;

    &:before {
        @include position(absolute, -6px -6px -6px -6px);
        content: " ";
        z-index: -1;
        border: 6px solid $BACKGROUND_COLOR;
    }
}

/*
 * Current Party list
 */
$ROOT_PARTY_LIST_WIDTH: 300px;
.root-party__current-party-list-wrapper {
    @include position(absolute, 0 auto 0 0);
    border-right: 1px solid $COLOR_1;
    width: $ROOT_PARTY_LIST_WIDTH;
    z-index: 10;
}


/* Header / Footer */
$ROOT_PARTY_LIST_HEADER_HEIGHT: 56px;
.root-party__current-party-list-header {
    @include position(absolute, 0 0 auto 0);
    border-bottom: 1px solid $COLOR_1;
    height: $ROOT_PARTY_LIST_HEADER_HEIGHT;

    h2 {
        cursor: default;
        padding-top: 0em;
        margin-top: 0.5em;
        text-align: center;
    }
}
$ROOT_PARTY_LIST_FOOTER_HEIGHT: 60px;
.root-party__current-party-list-back {
    // TODO: Make this style extensible
    @include position(absolute, auto 0 0 0);
    border-top: 1px solid $COLOR_1;
    cursor: pointer;
    height: $ROOT_PARTY_LIST_FOOTER_HEIGHT;

    h3 {
        cursor: default;
        padding: 1em 0 0 1em;
        margin: 0;
    }

    &:hover {
        &:before {
            @include position(absolute, 2px 2px 2px 2px);
            content: " ";
            z-index: 100;
            border: 2px solid $BACKGROUND_COLOR;
        }
        background: $COLOR_1;
        color: $BACKGROUND_COLOR;
    }
}

/* List */
.root-party__current-party-list {
    @include position(absolute, ($ROOT_PARTY_LIST_HEADER_HEIGHT + 10) 0 ($ROOT_PARTY_LIST_FOOTER_HEIGHT + 8) 0);
    overflow: auto;
    z-index: 10;
}
.root-party__current-party-list-item {
    background: $BACKGROUND_COLOR;
    border: 1px solid $COLOR_1;
    cursor: pointer;
    position: relative;
    padding: 1em;
    margin: 1em;
    text-align: center;

    &:before {
        @include position(absolute, -6px -6px -6px -6px);
        content: " ";
        z-index: -1;
        border: 6px solid $BACKGROUND_COLOR;
    }
}
.root-party__current-party-list-item:hover{
    border: 1px solid $BACKGROUND_COLOR;
    background: $COLOR_1;
    color: $BACKGROUND_COLOR;
    &:before {
        border: 6px solid $COLOR_1;
    }
}

/* Empty Item */
.root-party__current-party-list-item-empty, 
.root-party__current-party-list-item-empty:hover {
    color: $DISABLED_COLOR;
    border: 1px dashed $DISABLED_COLOR;
}
.root-party__current-party-list-item-empty:hover {
    background: none;
    color: $COLOR_1;
    &:before { 
        border: 1px solid $COLOR_1;
    }
}

/* Right Side */
.root-party__right-panel-wrapper {
    @include position(absolute, 0 0 0 $ROOT_PARTY_LIST_WIDTH);
    z-index: 10;
}
.root-party__right-panel {
    @include position(absolute, 1em);
}
.root-party__right-panel-background {
    @include position(absolute, 20% 0 20% 0);
    img {
        width: 100%;
        height: 100%;
    }
}
